<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327442377967-s9sc1huu26laj7rh6k52lmj84t8g9k1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327442377967-s9sc1huu26laj7rh6k52lmj84t8g9k1o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>327442377967-sj0aqspp9fjjlav38dnnsqe578o0cpq4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCiYDSO08XtSjDOscrHYdesVgjYXzpa_0o</string>
	<key>GCM_SENDER_ID</key>
	<string>327442377967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akshayp1.thrive</string>
	<key>PROJECT_ID</key>
	<string>thrive-6d18b</string>
	<key>STORAGE_BUCKET</key>
	<string>thrive-6d18b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327442377967:ios:522d08e0721655f12dff1a</string>
	<key>DATABASE_URL</key>
	<string>https://thrive-6d18b-default-rtdb.firebaseio.com</string>
</dict>
</plist>